@charset "UTF-8";

body{
  font-family: Arial, sans-serif;
  font-size: 40px;
  color: black;
  text-shadow: 1px 1px 1px #ffffff;
  text-align: justify;
  background-image: linear-gradient(to bottom, darkorange , orange, yellow);
  background-attachment: fixed;
  
}


div#interface {
  width: 900px;
  background-color: #E38A2D;
  margin: -8px auto 0px auto;
  box-shadow: 0px 0px 10px yellow;
  padding: 10px 10px 10px 10px;
}

  h1 { 
    font-family: Arial;
    font-size: 40px;
    color: orange;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    
    
  }

h4 { 
    font-family: Arial;
    font-size: 20px;
    color: black;
    text-shadow: 1px 1px 1px yellow;
    text-align: justify-all;
    
  }
 
 p {font-family: Arial;
 font-size: 20px;
 text-shadow: 1px 1px 1px white;
 color: rgb(0,0, 0);
 }

 header#cabecalho {
   border-bottom: 1px #F8E342 double;
   padding: 0px;
 }
 
figcaption {
  opacity: 1;
   text-align: justify;
   text-shadow: 1px 1px 1px indianred;
   font-size: 20px;
   background-color: black;
   
 }
 
 img {
   width:40%;
   height:10%;
   
   
 }
 figure.family{
  border: 8px solid white;
  box-shadow: 1px 1px 3px black;
  position: relative;
  
 }
 figure.family img{
   width: 100%;
   height: 100%;
 }
 
figure.family figcaption{
  position: absolute;
  top: 0;
   background-color: black;
   color: orange;
   opacity: 0;
   width: 100%;
   height: 100%;
   padding: 10px;
   box-sizing: border-box;
   transition: opacity 1s;
 }
 
figure.family:hover figcaption {
  opacity: 0.7;
}

/* "header#cabecalho" fará a formatação do objeto*/


/* Formatacao do Menu */

nav#menu {
  display: block;
}

nav#menu ul {
  list-style: none;
  text-transform: uppercase;
  position: absolute;
  top:-5px;
  left:400px;
}

nav#menu li {
  display: inline-block;
  background-color: #FF5115;
  padding: 5px;
  margin: 2px;
  transition: background-color 1s;
}

nav#menu li:hover {
  background-color: #F7F204;
}

nav#menu a {
  color: #000000;
  text-decoration: none;
}

nav#menu a:hover {
  color: #ffffff;
  background-color: #EA7F03;
  transition: background-color 1s;
 text-decoration: underline;
}


article#principal {
  font-family: Arial, sans-serif;
}

table#tabela {
  border: 1px solid yellow;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}

table#tabela td {
  border: 1px solid yellow;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

table#tabela td.ce {
  vertical-align: top;
  font-weight: bolder;
}

table#tabela td.cd {
  vertical-align: top;
}

table#tabela caption {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}



footer#rodape {
  font-size: center;
  font-family: Arial;
  position: absolute;
  top: 1870px;
  left: 350px;
}